<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Gerador de Senhas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gerador de Senhas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="openModal()">Open</ion-button>

  <div *ngIf="generatedPasswords">
    <ion-card *ngFor="let password of generatedPasswords">
      <ion-card-header>
        <ion-card-title>{{ password.password }}</ion-card-title>
        <ion-card-subtitle
          >Criado em: {{ password.createdAt | date }}</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
