<ion-header>
  <ion-toolbar>
    <ion-title>Gerar nova senha</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="passwordForm" (ngSubmit)="generatePassword()" class="form">
    <ion-input
      label="Tamanho da senha"
      type="number"
      label-placement="floating"
      fill="outline"
      formControlName="length"
    ></ion-input>

    <ion-note *ngIf="length?.errors">
      O tamanho da senha deve ser no mínimo 8 caracteres.
    </ion-note>

    <ion-checkbox formControlName="useUpper">Letras maiúsculas</ion-checkbox>

    <ion-checkbox formControlName="useLower">Letras minísculas</ion-checkbox>

    <ion-checkbox formControlName="useNumbers">Números</ion-checkbox>

    <ion-checkbox formControlName="useSpecial"
      >Caracteres especiais</ion-checkbox
    >

    <ion-note *ngIf="passwordForm.hasError('checkboxRequired')">
      Uma opção deve ser selecionada
    </ion-note>

    <ion-button expand="full" type="submit" [disabled]="!passwordForm.valid"
      >Gerar nova senha</ion-button
    >

    <ion-input
      *ngIf="generatedPassword"
      label="Senha gerada"
      label-placement="floating"
      fill="outline"
      [value]="generatedPassword"
      readonly
    ></ion-input>
  </form>
</ion-content>
